
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Lato&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  min-height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  flex: 1 0 100%;
  position: relative;
}

.page{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  max-width: 1280px;
  padding: 0px 15px;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 200;
  background-image: url("images/header/black.png");
}

.header_bar {
  display: flex;
  align-items: stretch;
}

.header_menu {
    display: flex;
    justify-content: stretch;
}
.header_logo {
    width: fit-content;
    margin-left: 1.3%;
    margin-top: 46px;
    font-size: 36px;
    font-family: "Yeseva One";
    color: white;
    line-height: 0.8;
    text-align: center;
}

.header_navigation {
    margin-bottom: 7,5px;
    margin-left: 22.5%;
}

.header_navigation_link:hover{
  border-top: 3px solid white;
}
.header_navigation_list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-left: 21px;
}

.header_navigation_list li {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 100%;
  margin-left: 23.5px;
  margin-right: 6px;
  
  font-size: 21px;
  width: auto;
}

.header_navigation_link{
  text-decoration: none;
  font-size: 21px;
  color: white;
  font-family: "Gentium Book Basic";
  padding-top: 46px;
  padding-left: 13px;
  padding-right: 12px;
  padding-bottom: 5px;
}

.header_icons {
    padding-top: 41px;
    color: rgb(204, 153, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icons a {
  text-decoration: none;
  color: rgb(204, 153, 0);
}
  
.promo_section {
  min-height: 100%;
  background-image: url("images/promo/bg.png");
}
.promo_text{
  margin-top: 5.5%;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
}
.text{
  padding-top: 2.2%;
  font-size: 90px;
  font-family: "Yeseva One";
  color: white;
  text-align: center;
  margin-bottom: 2.55%;
}
.text_divider{
  margin-left: 0.5%;
  text-align: center;
}
.promo_buttons{
  display: flex;
  text-align: center;
}

.promo_divider {
  padding-bottom: 0.7%;
}

.button1:hover{
  border-color: white;
  background-color: rgba(255,255,255, 0.3);
  opacity: 0.8;
}
.button2:hover{
  border-color: white;
  background-color: rgba(255,255,255, 0.3);
  opacity: 0.8;
}
.button1 {
  border-width: 1px;
  opacity: 0.8;
  font-family: "Lato";
  font-size: 17.8px;
  border-style: solid;
  border-color: black;
  color: white;
  background-color: rgba(0,0,0,0.7);
  margin: 2.8% 1% 0 24.5%;
  width: 23.8%;
  height: 55px;
}

.button2 {
  border-width: 1px;
  opacity: 0.8;
  font-family: "Lato";
  font-size: 17.8px;
  border-style: solid;
  border-color: black;
  color: white;
  background-color: rgba(0,0,0,0.7);
  margin: 2.8% 1% 0 2.1%;
  width: 23.8%;
  height: 55px;
}
.about_section {
  background-image: url("images/about/pattern.png");
  min-height: 100%;
}

.about_name{
  font-size: 36px;
  font-family: "Yeseva One";
  color: #cc9900;
  text-align: center;
  margin-top: 1.3%;
  margin-left: 8.7%;
  margin-right: 0;
  margin-bottom: 1.7%;
}

.about_text{
  font-family: "Lato";
  font-size: 15.8px;
  color: #4c4c4c;
  text-align: center;
  padding: 0 5% 0 13.5%;
  line-height: 1.55;
  margin-top: 3.5%;
  margin-bottom: 9%;
}

.about_dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about_cooking{
  display: flex;
  flex-direction: column;
  margin-top: 3.6%;
  margin-left: 4.9%;
}

.about_divider{
  text-align: center;
  margin-top: 1%;
  margin-left: 9%;
  padding-bottom: 0.7%;
}

.about_cook{
  text-align: center;
  margin-left: 23%;
}

.about_plate {
  margin-right: 7%;
  margin-bottom: 2%;
}

.ingredients_section{
  background-image: url(images/ingredients/bg.png);
  z-index: 100;
}

.ingredients_text_bg{
  background-color: rgba(0,0,0,0.6);
  width: 70%;
  z-index: 120;
  margin-left: 52%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.ingredients_image{
  margin-left: 16%;
}

.ingredients_header{
  text-align: center;
  font-size: 36px;
  font-family: "Yeseva One";
  color: #ffff;
}

.ingredients_divider{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.ingredients_text{
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  color: #ffff;
  line-height: 1.6;
  margin-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}

.menu_section{
  background-image: url(images/menu/pattern.png);
}

.menu_colomns{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1033px;
  margin-top: 10.5%;
  margin-bottom: 5%;
}

.menu_second_column{
  width: 42%;
}

.menu_first_column {
  width: 41.8%;
}

.menu_header{
  text-align: center;
    font-family: "Yeseva One";
    font-weight: 100;
    font-size: 36px;
    color: rgb(204, 153, 0);
    line-height: 0.667;
}

.menu_firstline{
  display: flex;
  font-size: 21px;
  font-family: "Yeseva One";
  color: rgb(200, 159, 45);
  line-height: 1.143;
  text-align: justify;
  justify-content: space-between;
}

.menu_aboutdish{
  font-family: "Lato";
  font-size: 16px;

}

.menu_itemdivider img {
  width: 100%;
}
.menu_itemdivider {
  font-size: 20px;
  line-height: 0.2;
  margin-bottom: 2.5%;
}

.menu_item{
  width: 100%;
  margin-bottom: 8.5%;
}

.menu_item_special{
    background-image: url(images/menu/menu-special.png);
    background-size: auto;
    background-position:bottom;
    background-repeat: no-repeat;
    justify-content: center;
    width: 432px;
    height: 120%;
    padding: 26px 12px 9px 12px;
    position: relative;
    left: -12px;
    top: -27px;
}

.menu_divider {
  width: fit-content;
  margin: 5.5% auto 5.3% auto;
}

.salads {
  margin-top: 16%;
}

.starters {
  margin-bottom: 16%;
}




.reviews_section{
  background-image: url(images/review/Rewbg.png);
}

.reviews_text_bg{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  padding-bottom: 15%;
  padding-top: 12%;
  padding-left: 5%;
  padding-right: 10%;
}

.reviews_text{
  display: flex;
}
.reviews_text1{
  font-size: 96px;
  font-family: "Georgia";
  color: rgba(242, 244, 244, 0.471);
  line-height: 0.469;
  text-align: center;
}

.reviews_text2{
  font-size: 25px;
  font-family: "Gentium Book Basic";
  line-height: 1.8;
  color: rgb(221, 224, 223);
  font-weight: bold;
  text-align: center;
}

.reviews_text_end{
  color: rgb(221, 224, 223);
  font-family: "Lato Regular";
  font-size: 16px;
  text-align: center;
  padding-top: 5%;

}

.reservations_section{
  background-image: url(images/about/pattern.png);
}

.reservations_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;  
}

.reservations_images{
  display: flex;
  flex-direction: row;  
}

.reservations_info{
  width: 40vw;
}

.reservations_image{
  margin-left: 1.5%;
  margin-right: 2.5%;
}

.reservations_header{
  font-size: 36px;
  font-family: "Yeseva One";
  color: #cc9900;
  text-align: center;
  margin-top: 1.3%;
  margin-left: 8.7%;
  margin-right: 0;
  margin-bottom: 1.7%;
}

.reservations_divider{
  text-align: center;
  margin-top: 1%;
  margin-left: 9%;
  padding-bottom: 0.7%;  
}

.reservations_text{
  font-family: "Lato";
  font-size: 15.8px;
  color: #4c4c4c;
  text-align: center;
  padding: 0 5% 0 13.5%;
  line-height: 1.55;
  margin-top: 3.5%;
  margin-bottom: 9%;  
}

.reservations_button{
  display: flex;
  justify-content: center;
  padding-left: 9%;
}

.book_button{
  font-family: 'Open Sans';
  font-weight: 400;
  width: 35%;
  color: white;
  background-color: #c9a131;
  font-size: 16px;
  height: 35px;
  border: none;
}

.reservations_edits{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 12%;
  margin-bottom: 5%;
}

.edit_column{
  display: flex;
  flex-direction: column; 
  width: 12vw; 
  margin-right: 2vw;
}
 
.input_field{
  margin-bottom: 2vh;
  width: 100%;
}

.input_name{
  font-family: 'Open Sans';
  font-weight: 700; 
  font-size: 14px;
  color:#c9a131;
}

::placeholder{
  font-style: italic;
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #7c7c7c;

}

.input_elem{
  margin-top: 3%;
}

.input_elem input{
  font-style: italic;
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 16px;
  color:  #7c7c7c;
  border: 1px solid #c8c6c6;
  height: 4vh;
  width: 100%;
}

.input_elem input:hover{
  border: 1px solid #c9a131;
}

.input_elem select{
  border: 1px solid #c8c6c6;
  height: 4vh;
  width: 100%;
}

.input_elem select:hover{
  border: 1px solid #c9a131;
}

.input_elem input:focus{
  border: 1px solid #c9a131;
}
.input_elem select:focus{
  outline-style: none;
  border: 3px solid #c9a131;
}

select {
  font-style: italic;
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #7c7c7c;

}

footer{
  background-color: black;
}
.footer_row{
  display: flex;
  padding: 57px 110px 65px 55px;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(254, 254, 254);
  text-align: center;
}

.colortext{
  color:white;
}
.footer_row h1{
  color: rgb(254, 254, 254);
  font-size: 21px;
  font-family: "Yeseva One";
  font-weight: 100;
  line-height: 1.143;
  text-align: center;
}
.footer_about_text{
  width: 100%;
  color: lightgrey;
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: 100;
  line-height: 1.5;
  text-align: center;
  padding-top: 5%;
}

.working_hours{
  font-size: 16px;
  font-family: "OpenSans";
  color: lightgrey;
  line-height: 1.5;
  text-align: center;
  padding-top: 5%;
}

.cards{
  padding-top: 21%;
}

.adress{
  font-size: 16px;
  font-family: "OpenSans";
  line-height: 1.5;
  text-align: center;
  padding-top: 5%;
}

.footer_icons a{
  text-decoration: none;
  color: white;
  padding-top: 21%;
}


