
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Lato&family=Yeseva+One&display=swap');

body {
  min-height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  flex: 1 0 100%;
  position: relative;
}

.page{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  max-width: 1280px;
  padding: 0px 15px;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 200;
  background-image: url("images/header/black.png");
}

.header_bar {
  display: flex;
  align-items: stretch;
}

.header_menu {
    display: flex;
    justify-content: stretch;
}
.header_logo {
    width: fit-content;
    margin-left: 1.3%;
    margin-top: 46px;
    font-size: 36px;
    font-family: "Yeseva One";
    color: white;
    line-height: 0.8;
    text-align: center;
}

.header_navigation {
    margin-bottom: 7,5px;
    margin-left: 227px;
}

.header_navigation_link:hover{
  border-top: 3px solid white;
}
.header_navigation_list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.header_navigation_list li {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 100%;
  margin-left: 30px;
  padding-left: 10px;
  font-size: 21px;
  width: auto;
}

.header_navigation_link{
  text-decoration: none;
  font-size: 21px;
  color: white;
  font-family: "Gentium Book Basic";
  padding-top: 46px;
}
.promo_section {
  min-height: 100%;
  background-image: url("images/promo/bg.png");
}
.promo_text{
  margin-top: 5.5%;
  line-height: 1.3;
  justify-content: center;
  align-items: center;

}
.text{
  font-size: 90px;
  font-family: "Yeseva One";
  color: white;
  text-align: center;
  margin-bottom: 3%;
}
.text_divider{
  margin-top: 2%;
  text-align: center;
}
.promo_buttons{
  text-align: center;
  padding-top: 2%;

}

.button:hover{
  border-color: white;
  background-color: rgba(255,255,255, 0.3);
  opacity: 0.8;
}
.button{
  border-width: 1px;
  opacity: 0.8;
  font-family: "Lato";
  border-style: solid;
  border-color: black;
  color: white;
  background-color: rgba(0,0,0,0.7);
  margin: 0 1%;
  width: 19%;
  height: 55px;
}

.about_section{
  background-image: url("images/about/pattern.png");
  min-height: 100%;
}

.about_name{
  font-size: 36px;
  font-family: "Yeseva One";
  color: #cc9900;
  text-align: center;
  margin-left: 18%;
  margin-right: 0;
  margin-bottom: 1.7%;
}

.about_text{
  font-family: "Lato";
  font-size: 15px;
  color: #4c4c4c;
  text-align: center;
  padding: 0 0 0 17%;
  line-height: 1.6;
  margin-top: 2.7%;
  margin-bottom: 10%;
  margin-right: 2%;
}

.about_dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about_cooking{
  display: flex;
  flex-direction: column;
  margin-top: 3.6%;
  margin-left: 4.9%;
}

.about_divider{
  text-align: center;
  margin-left: 15%;
  padding-bottom: 0.7%;
}

.about_cook{
  text-align: center;
  margin-left: 29%;
}

.about_plate {
  margin-right: 7%;
  margin-bottom: 2%;
}

.ingredients_section{
  background-image: url(images/ingredients/bg.png);
  z-index: 100;
}

.ingredients_text_bg{
  /* background-image: url(images/ingredients/text-bg.png); */
  background-color: rgba(0,0,0,0.6);
  width: 70%;
  z-index: 120;
  margin-left: 52%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.ingredients_image{
  margin-left: 16%;
}

.ingredients_header{
  text-align: center;
  font-size: 36px;
  font-family: "Yeseva One";
  color: #ffff;
}

.ingredients_divider{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.ingredients_text{
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  color: #ffff;
  line-height: 1.6;
  margin-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}

.menu_section{
  background-image: url(images/menu/pattern.png);
}

.menu_colomns{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}

.menu_first_column{
  margin-right: 9%;
}

.menu_second_column{
  margin-left: 9%;
}
.menu_header{
  font-size: 36px;
  font-family: "Yeseva One";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  padding: 14% 0 5% 0;
}

.menu_firstline{
  display: flex;
  font-size: 21px;
  font-family: "Yeseva One";
  color: rgb(200, 159, 45);
  line-height: 1.143;
  text-align: justify;
  justify-content: space-between;
}

.menu_aboutdish{
  font-family: "Lato Regular";
  font-size: 16px;
}

.menu_item{
  padding-top: 5%;
}

.menu_item_special{
  margin-top: 5%;
  border-width: 0.8px;
  border-style: solid;
  border-color: rgb(200, 159, 45);
}

.reviews_section{
  background-image: url(images/review/Rewbg.png);
}

.reviews_text_bg{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  padding-bottom: 15%;
  padding-top: 12%;
  padding-left: 5%;
  padding-right: 10%;
}

.reviews_text{
  display: flex;
}
.reviews_text1{
  font-size: 96px;
  font-family: "Georgia";
  color: rgba(242, 244, 244, 0.471);
  line-height: 0.469;
  text-align: center;
}

.reviews_text2{
  font-size: 25px;
  font-family: "Gentium Book Basic";
  line-height: 1.8;
  color: rgb(221, 224, 223);
  font-weight: bold;
  text-align: center;
}

.reviews_text_end{
  color: rgb(221, 224, 223);
  font-family: "Lato Regular";
  font-size: 16px;
  text-align: center;
  padding-top: 5%;

}


